.card {
    background-color: white;
    opacity: 0.7;
    
}
#Hakkımızda{
    text-align: center;
    background-color: rgb(34, 34, 61);
    color: white;
    opacity: 0.8;
}
#Hakkımızda2{
    text-align: center;
    background-color: rgb(34, 34, 61);
    color: white;
    opacity: 0.8;
}

img{
    height: 5%;
    width: 70%;
    opacity: 0.9;
}
#profil{
    padding: 5px;
    border: 1px solid white;
    border-radius: 1000px;
    
}
#hakkimizda2{
    width: 100%;
    margin-top: 15%;
    border-radius: 1000px;
}
